.logo {
  position: relative;
  width: 100%;
}

.img {
  width: 100%;
}

.front {
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  animation: front 7s ease-out infinite;
}

.back {
  animation: back 7s ease-out infinite;
}

@keyframes back {
  0% {
    transform: scale(0.95);
    filter: blur(0.8px);
  }
  50% {
    transform: scale(1);
    filter: blur(0px);
  }
  100% {
    transform: scale(0.95);
    filter: blur(0.8px);
  }
}

@keyframes front {
  0% {
    transform: scale(0.9);
    filter: blur(1px);
  }
  50% {
    transform: scale(0.8);
    filter: blur(0px);
  }
  100% {
    transform: scale(0.9);
    filter: blur(1px);
  }
}

@media screen and (min-width: 1100px) {
  .logo {
    width: 80%;
    margin: 0 auto;
  }
}
